.container{
  width: min(100% - 2rem, 1080px);
  margin-inline: auto;
}
.section{
  padding: 4.5rem 0 2rem;
  &__title{
    font-size: large;
    color: black;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  &__height{
    height: 100vh;
  }
}